/*
 * --------------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on 國家高速電腦中心(NCHC) of 台灣杉(Taiwania) Cluster
 * --------------------------------------------------------------------------------
 */

singularity {
    enabled = true
}

process {
    beforeScript = 'module load singularity'
    executor = 'pbs'
    #queue = 'short'
    clusterOptions = { "–P ${params.project} -W group_list=${params.project} -l place=pack ${params.clusterOptions ?: ''}" }
    // project id should be retrieve by using `get_su_balance`
}

params {
    clusterOptions = false
    saveReference = true
    // Max resources requested by a normal node on 台灣杉. If you need more memory, run on a fat node using:
    //   --clusterOptions "-C mem512GB" --max_memory "512GB"
    max_memory = 192.GB
    max_cpus = 40
    max_time = 168.h
    // illumina iGenomes reference file paths on NCHC
    igenomes_base = '//data/uppnex/igenomes/'
}
