/usr/bin/salloc \
  --job-name="ccs" \
  --partition=unlimited \
  --nodes=1 \
  --cpus-per-task=8 \
  /usr/bin/srun \
    --cpus-per-task=8 \
    --ntasks=1 \
    -o log.txt \
    -e log.err \
    /bin/bash -c "${CMD}"
